// Шрифты: 

$SpaceGrotesk: 'Space Grotesk', sans-serif;
$Inter: 'Inter', sans-serif;

// Цвета заднего фона: 

$DarkBgTheme: #1e1e1e;
$DarkBgBlocksTheme: #141414;
$WhiteBgTheme: #ffffff;

$BorderColor: rgba(116, 116, 116, 0.5);

$LoadingColor: rgba(116, 116, 116, 0.5);

// Цвета текста: 

$HoverColor: #3d5aff;
$BlueBgHoverColor: #ffffff;
$NewsTitleHoverColor: #ffffff;
$WhiteBgHoverLigntColor: #1d2b7d;

$DarkHeadingColor: #ffffff;
$WhiteHeadingColor: #1e1e1e;

$UserNameColor: #ffffff;
$DescColor: #747474;
$WhiteNewsTitleColor: #747474;
$DarkNewsTitleColor: #a5a5a5;